.checkbox-col-style {
    width: 10%;
}

.checkbox-style:focus {
    box-shadow: none;
    border-color: rgba(0, 0, 0, .25);
}

.edit-icon {
    cursor: pointer;
}

.delete-icon {
    cursor: pointer;
}

.selected-row {
    background-color: lightgray;
}